<div class="white-background">
    <%= form_for(@post) do |f| %>
    <%= render partial: 'inner_form', locals: {f: f} %>
    <br>
    <%= f.submit :class => 'waves-effect waves-light btn secondary'  %>
    <% end %>
</div>