/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
*= require material_icons
*= require commontator/application
*/



 @import "materialize";

.primary{
    background-color: #363636 !important;
}

.secondary{
    background-color: #da4453 !important;
}

.primary--text, .primary--text *{
    color: #dadada !important;
}

.secondary--text, .secondary--text *{
    color: #da4453 !important;
}

.button--text, .button--text *{
    color: white !important;
}

.dropdown-content{
    width: max-content !important;
    height:auto !important;
}

.brand-logo{
    margin-left: 15px;
}

body{
    background: #f2f2f2;
}
.white-background{
    background: white;
    padding: 10px 15px;
}
.no-link{
    text-decoration: none;
    color: black;
}

a{
    color: #da4453;
}

a:hover{
    text-decoration: underline;
}